/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


/* #Header
================================================== */

nav#navigation, header#header{
    height: 69px;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
 // Animation
   -webkit-transition: all 0.4s ease;
	position:fixed;
   transition: all 0.4s ease;
	width:100%;}

header#header.shrink{
    position: fixed;
    z-index: 99;}


/*header.shrink{height: 35px;}
header .center_logo .horizontal{display: none;}
header .center_logo .vertical{display: block;}
header.shrink .vertical{display: none;}
header.shrink .horizontal{display: block;}*/


	

/* #Nav
================================================== */

nav ul {margin-bottom:0;}
nav ul li{
	display:inline-block;
	margin-bottom: 0;
	margin-right:10px;}
nav ul li a{
	color:#444;
	font-family:Source Sans Pro;
	font-size:12px;
	text-transform:uppercase;}
	nav ul li a:visited{color:#444;}
	nav ul li a:focus{color:#444;}

.main_logo img{
	width:109x;
    height: 44px;
    display: block;
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    margin-top: -21.6px;
    margin-left: -54.5px;}

.magazine_logo img{
	width:87px;
    height: 45px;
    display: block;
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    margin-top: -21.6px;
    margin-left: -43.5px;}


.top_nav{
    margin-top: -6px;
	position:absolute;
 	 top: 50%;
	 z-index: 10;}

.nav_left{left: 50px;}
.nav_right{right:50px;}
		

nav img.scale-with-grid{
display:block;
width:auto;}

.my-membership-tabs{display:none;}


	

/* #Shopping Tools
================================================== */
.utils_nav{text-align:right;}	
nav .utils_nav li{margin-left:10px;}
.utils_nav li a{font-size:13px;}
.utils_nav li i{font-size:16px;}

/* #Global Content
================================================== */
#content-wrap{padding-top: 73px;}

	.woocommerce-cart #content-wrap,
	.page-template-page-woo #content-wrap,
	.page-template-default #content-wrap,
	.woocommerce-account  #content-wrap{
		padding-bottom: 40px;
		padding-top:90px;}

main section{clear:both;}	

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/** Home - Hero  **/
#hero .slick-slider{margin-bottom:0;}
#hero{position: relative;}
#hero img{
	display:block;
	height:auto;
	max-width:100%;
	width:100%;}

#hero a.button{
    background: transparent;
    border-color: #fff;
    color: #fff;
	display:block;
	float:left;}

.hero_content{
	bottom:0;
	height:100%;
	left:0;
	position:absolute;
	width:100%;
	z-index:11;}
.hero_fields{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	display:flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding:20px;}

.hero_fields h2 {
    color: #fff;
    font-size: 3.4rem;
    width: 50%;
    line-height: 1em;}
   
 .hero_fields p {
	 color: #fff;
    font-size: 2rem;
    width: 50%;
    line-height: 1em; } 


/** Home - Design the life  **/
#design {padding: 40px 0;}
#design .row{
	align-items:center;
	display:flex;}
	#design p{margin-bottom:0;}

/** Home - Coaches Slider **/
section#coaches{
	background-color:#f0f4fa;
	overflow:hidden;
	padding: 30px 0 30px;
	text-align:center;}
.coach_slider li{position:relative;}
.coach_slider img{height:100%;}
.coach_slider .slick-dots li{
	height:30px;
	margin:0 10px;
	width:4px;}

.coach_content{
	bottom: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color:#fff;
	left:0;
	padding:0 20px;
	position:absolute;
	text-align:center;
	width:100%;}
.coach_content h3{
	color:#fff;
    font-family: Source Sans Pro;
	font-size: 1.5em;
	font-weight: 600;
    line-height: 1em;
	text-transform:uppercase;}
.coach_content h4{color:#fff;}	
.coach_content p{display:inline;}	

section#coaches .slick-prev, 
section#coaches .slick-next{
	background-size: contain;
background-repeat:no-repeat;
	bottom:-21px;
	height:34px;
	margin: 0;
	top:auto;
	width:18px;
	z-index:22;}	
	
	section#coaches .slick-prev{
		background-image:url(../images/arrow_previous.png);
		left:25px;}
	section#coaches .slick-next{
		background-image:url(../images/arrow_next.png);
		right:25px;}	
	section#coaches .slick-prev:before, 
	section#coaches .slick-next:before{color:#000;}
	section#coaches .slick-prev:before,
	section#coaches .slick-next:before{}
	section#coaches .slick-prev:before {content: '';}
	section#coaches .slick-next:before {content: '';}
	
.slick-dots{
	bottom:0;
	margin-top:50px;
	position:relative;}
.slick-dots li button{
	background:#000;
	border-radius:0;
	height:30px;
	opacity:.25;
	padding:0;
	width:3px;}	
	.slick-dots li.slick-active button{opacity:1;}	
.slick-dots li button:before{
	content:'';
	height:auto;
	width:auto;}		
		

/** Home - MINDSET **/
section#mindset{
	padding: 100px 0;
	text-align:center;}
.mindset_boxes{
	padding-bottom:60px;
	padding-top: 50px;
	text-align:center;}
.mindset_boxes img{
	display:block;
	margin:0 auto 20px;
    width: 60px;}
.mindset_boxes a.button,
.mindset_boxes a.button:visited,
.mindset_boxes a.button:hover {color:#000;}

/** Home - FUNDAMENTALS **/

section#fundamentals{
	background-color:#f7f7fa;
	padding: 100px 0;
	text-align:center;}
section#fundamentals a.button{
    clear: both;
    display: block;
    width: 100px;
    margin: 40px auto 0;}
section#fundamentals span.large,
section#fundamentals h1 a{
font-size: 100px;
    font-family: source sans pro;
    line-height: 1.5em;}	


#appdownload{
background-color:#fcfcfc;    
margin-bottom: 0;
	overflow:hidden;
	position: relative;}
#appdownload .slick-prev, 
#appdownload .slick-next{
	height: 54px;
	margin-bottom: 0;
	top:50%;
	width:29px;
	z-index: 11;}	
#appdownload .slick-prev{
	background-image:url(../images/arrow_previous.png);
	left:25px}
#appdownload .slick-next{
	background-image:url(../images/arrow_next.png);
	right:25px;}

#appdownload .slick-prev:before,
#appdownload .slick-next:before{}
#appdownload .slick-prev:before {content: '';}
#appdownload .slick-next:before {content: '';}
#appdownload .slick-disabled{display:none!important;}

.download_app_slide{
    align-items: center;
	background-repeat: no-repeat;
	background-size: contain;
    display: flex;
	padding:200px 0 100px;
    position: relative;}
	.download_app_slide-1{background-position:left bottom;} 	
	.download_app_slide-2{background-position: right bottom;} 	
.download_item_content{
    padding: 20px 10%;
	position:relative;
	text-align:center;
	width: 37%;}	
.download_app_slide-1 .download_item_content{
	margin-left:50%;
   padding: 20px 0;}

/* #Product Page
================================================== */
.product .summary{display:none}
.single-product form,
.single-coaches form{margin-bottom:5px;}


/* #Routines
================================================== */
.featured_routine{margin-top:80px;}
.single_routine_box{
	margin-bottom:80px;
	text-align:center;}
.single_routine_box p{margin-bottom:40px;}

.routines_boxes .item-1,
.item-1{clear:both;}

/* #Videos
================================================== */

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container object,
.video-container embed,
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;}

/* Coach Sidebox */

.saboxplugin-wrap .saboxplugin-gravatar{	
float:none;
padding:0;}
.saboxplugin-wrap .saboxplugin-gravatar img {
   display: block;
	 height: auto;
max-width:100%;
    width: 100%;}
.saboxplugin-authorname a{
    color: #181818;
    font-family: 'Merriweather', serif;
    font-weight: normal;
	    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;}
.saboxplugin-wrap .saboxplugin-socials {text-align:center;}
.sab-edit-settings a, a.sab-profile-edit{display:none;}

/* #Contact
================================================== */
.page-id-37 .page_content h2{text-align:center;}


/* #Footer
================================================== */
footer{
	background-color:#333;
	color:#fff;
	padding: 50px 0 10px 0;}
	footer .widget{text-align:center;}
	footer .widget p{padding: 0 5% 20px;}
	footer .social_media_links{text-align:center;}
	footer .social_media_links li{display:inline-block;}
	footer .social_media_links li a,
	footer .social_media_links li a i{
		color:#fff;
	    font-size: 24px;
	    margin: 0 10px;}
	footer h3{color:#fff;}

	footer .menu{text-align:center;}
	footer .menu li{display:inline;}
	footer .menu li a{color:#817e7e;}
	footer p.copyright {
		color:#817e7e;
		text-align:center;}
	footer .menu li:last-child span.nav_div{display:none;}	
		
	footer input.button,
	footer input.button:hover{
		background: #fff;
	  	border: none;
	  	-moz-border-radius: 0px;
	  	-webkit-border-radius: 0px;
	  	border-radius: 0px;}	
		
		footer .gform_wrapper ul.gform_fields li.gfield{
			margin-top: 0;
			padding-right:0;}
		footer .gform_wrapper .top_label .gfield_label{display:none;}
		footer .gform_wrapper ul.gform_fields li.gfield input[type="text"]{
			background-color:transparent;
			border:none;
			border-bottom:2px solid #fff;
			color:#fff;
			font-size:18px!important;
			text-align:center;
		}
			
		footer .gform_wrapper .gform_footer input.button{
			display:block;
			margin:0 auto;
			width:150px;
			}	

			footer .gform_wrapper div.validation_error{
				background-color:pink;
				border:2px solid #790000;}
				
			footer .gform_wrapper li.gfield.gfield_error{
				background-color:orange;
				text-align:center;}

/* #Page Styles
================================================== */

.single-coaches .coach_content{bottom: 20%;}
.coach_intro{padding:40px 0;}	
	.coach_intro p{margin-bottom:0;}
	.coach_intro > .container > .row{
	    align-items: center;
	    display: flex;}
		.coach_intro h3{font-weight:600;}
		.coach_intro h3 em{font-weight:400;}
		.coach_intro h3 p{display:inline;}
.coach_routines{
	background-color:#f4f6f9;
	padding:60px 0;
	text-align:center;}
	.coach_routines .row{display:flex;}
.coach_routines .coach_column{
    align-items:center;
	border-right: 1px solid #d4d6d9;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 display: flex;
	 float:left;
	 min-height:125px;
    padding: 0.5rem 2%;
    margin: 0;
    width: calc(100% / 3 - 1px);}
	.coach_routines .coach_column.last{border-right:none;}	
	.routine_content{padding: 0 10px;}


.coach_routines span{display:block;}
.coach_routines span.all_access{margin-bottom:20px;}
	
.coach_routines a.button,
.coach_routines button{margin-bottom:5px;}
a.button.button_all_access{
	background-color:#b9ede0!important;
	border:3px solid #b9ede0!important;
}
	
button.button_single_access{
	background-color:#b9d9ed!important;
	border:3px solid #b9d9ed!important;}	

a.button.button_all_access,
button.button_single_access,
a.button.button_all_access:visited,
button.button_single_access:visited{
	color:#fff!important;
	font-size:24px!important;
	min-width:180px!important;
	text-transform:capitalize!important;}

.coach_stages{
	padding-bottom:100px;
	padding-top:100px;}	
.stages_intro{
	margin-bottom:40px;
	text-align:center;}	
.stages_intro strong{
	display:block;
	font-family: 'Merriweather';
	font-size:24px;
	font-weight:400;
	margin-bottom:40px;}
	
	.coach_stages p strong{
		display:block;
		text-transform:uppercase;}
	.single_stage{
		border-bottom:1px solid #dbdcdd;
		margin-bottom:20px;}
	.single_stage:last-of-type{border-bottom:none;}
	.col_number{
		display: block;
		float: left;
		font-family: 'Merriweather';
		font-size: 40px;
		margin: 0 20px 0 0;
		line-height: 40px;}
	.stage_info{
	    display: block;
	    float: left;
	    width: calc(100% - 100px);}	
	
	
/* Our Story */
.story_intro{padding:40px 0;}	
.story_intro p{margin-bottom:0;}
.story_intro > .container > .row{
    align-items: center;
    display: flex;}
	.story_intro h3{font-weight:600;}
	.story_intro h3 em{font-weight:400;}
	.story_intro p{margin-bottom:20px;}					
	.story_intro p:last-of-type{margin-bottom:0;}	
.photo_row{
	background-repeat:no-repeat;
	background-size: contain;
	padding:10rem 0;}	
.photo_one{
	background-color:#f6f6f7;
	background-position:left bottom;}
.photo_two{
	background-color:#f8f9f5;
	background-position:right bottom;}	
.chart {
	padding-bottom:100px;
	padding-top:100px;
	text-align:center;}
.chart p{margin-bottom:100px;}

.chart .button{
	display:block;
	margin:100px auto 40px;
	text-align:center;
	width:150px;}	

		
						
/* SCIENCE  */
	.science_intro {padding:60px 0;}
	.science_intro > .container > .row{
	    align-items: center;
	    display: flex;}
		.science_intro p{margin-bottom:0;}	
		.science_boxes > .row{display: flex;}
		.science_box{
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box; 
			box-sizing: border-box;    
			float:left;
		    padding: 100px 5% 85px 5%;
		    text-align: center;
			width:calc(100% / 3);}
	.science_items {padding:60px 0;}
	.science_items h2{
		display:block;
		margin-bottom:60px;
		text-align:center;}		
	.single_science_item{text-align:center;}
	.single_science_item img{
		display:block;
		margin:0 auto 20px;
	    width: 80px;}
	.single_science_item h3{
		clear:both;
		display:block;}		
		
	
		
/* ROUTINE */
	.page-template-page-routines section#coaches{padding-top:0;}				
	
/* BLOG	 */	
	.blog_entries .post_image{
		display:block;
		margin-bottom:10px;}
.cat_Magazine,
.blog_entries .cat_featured{display:none;}
	
	.page-template-page-science #hero ul,
	.page-template-page-science #hero ul li,
	.category #hero ul,
	.category #hero ul li,
	.single-post #hero ul,
	.single-post #hero ul li,
	.blog #hero ul,
	.blog #hero ul li{margin-bottom:0;}
	.cat_list{margin-bottom:60px;}
	.cat_list .row{
	    align-items: center;
	    display: flex;}
		.cat_list h2{
			margin-bottom:0;
		    line-height: 26px;
padding-top:20px;
			text-align:center}

		.cat_list ul{
			margin-bottom:0;
padding-top:20px;
			text-align:center;}
		.cat_list ul li{
			display:inline-block;
			margin-bottom:0;
			margin-left:15px;}
		.cat_list ul li a{
		    font-family: Source Sans Pro;
		    font-weight: 600;
			text-transform:uppercase;}	
	.blog h2.cat_title{
	    font-family: Source Sans Pro;
		text-align:center;}
	.post_meta{margin-bottom:20px;}
	.single_blog{padding:0 0 60px 0;}
.single_blog ol,
.single_blog ul{padding-left: 20px;}
	.single .current-post-parent a{text-decoration:underline;}
	.lovers:hover{text-decoration:none;}

.category main{padding-bottom:40px;}

.featured_post{    position: relative;}
.featured_post .featured_content{
bottom:0;	
height: 100%;
	left:0;
	position:absolute;
	width:100%;
    z-index: 2;}
.featured_post .featured_content article{
	align-items:flex-end;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	
display:flex;
	height:100%;
	padding: 20px;
	position:relative;	
	text-align: left;}
.featured_post .featured_content article h2{color:#fff;}
.article_feature{}

	/* #WooCommerce 
	================================================== */	
.woocommerce-account .woocommerce-MyAccount-navigation,	
.woocommerce-account .woocommerce-MyAccount-content{	
float:none;
width:100%;}
nav.woocommerce-MyAccount-navigation ul{display:block;}
	nav.woocommerce-MyAccount-navigation ul li{
	    margin-left: 0;
	    margin-bottom: 10px;}	
	
	nav.woocommerce-MyAccount-navigation ul li a{color:#222;}		
	.woocommerce ul.products li.product .woocommerce-loop-category__title, 
	.woocommerce ul.products li.product .woocommerce-loop-product__title, 
	.woocommerce ul.products li.product h3{line-height:1;}



.woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, 
.woocommerce input.button{
	 background: #fff;
    border: 2px solid #222;
	-moz-order-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
    color: #222;
    font-family: proxima nova;
	margin-top: 0!important;}

nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--my-membership-content{display:none;}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
			#hero a.button{bottom:23%;}
			.page-template-page-ourstory #hero a.button { bottom: 18%;}
			.page-template-page-science #hero a.button{ bottom: 18%;}

	.hero_fields h2,
	.hero_fields p{width:70%;}


	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#hero a.button{top:10%;}
		.page-template-page-ourstory #hero a.button { bottom: 16%;}
		.page-template-page-science #hero a.button{ bottom: 16%;}	
		
		/* Coaches */
	.coach_routines .row{display:block;}
	.coach_routines .coach_column{
		border-bottom: 1px solid #d4d6d9;
	    border-right: none;
	    clear:both;
		display: block;
		padding: 20px 0;
	    width: 100%}
	
	.stage_info{ width: 100%}	
	
	/* SCIENCE  */
	.science_intro > .container > .row{
	    align-items: center;
	    display: block;}
		.science_boxes > .row{display: block;}
		.science_box{
			float:none;
		    padding: 20px;
			width:100%;}	
	.photo_row{padding:20px 0 13rem 0}
.hero_fields h2,
.hero_fields p{width:70%;}


.hero_fields h2{
	font-size:20px;}
.hero_fields p{
	font-size:16px;
	    margin-bottom: 10px;}
#hero a.button{
	    margin-bottom: 5px;
	padding:10px 20px;}
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.nav_right{right:3%;}
		.nav_right ul li{margin:0 0 0 3px;}

		#hero a.button{bottom:10%;}
		.page-template-page-ourstory #hero a.button { top: 10%;}
		.page-template-page-science #hero a.button{ top: 10%;}	
		#design .row{display:block;}
		.download_app_slide{padding:20px 0 10px;}
		.download_item_content {
		    box-sizing: border-box;
			margin: 0 auto!important;
		    max-width: 100%;
			padding: 20px 20px 300px 20px!important;
		    position: relative;
		    text-align: center;
		    width: 100%;}

		
			/* Coaches */
		.coach_intro > .container > .row{display:block;}
		.coach_routines .row{display:block;}
		.coach_routines .coach_column{
			border-bottom: 1px solid #d4d6d9;
		    border-right: none;
		    clear:both;
			display: block;
			padding: 20px 0;
		    width: 100%}
		.stage_info{ width: 100%}	
		.coach_intro	h3 p{display:inline;}
		
		
		/* SCIENCE  */
		.science_intro > .container > .row{
		    align-items: center;
		    display: block;}
			.science_boxes > .row{display: block;}
			.science_box{
				float:none;
			    padding: 20px;
				width:100%;}	
			
.photo_row{padding:20px 0 13rem 0}	
.story_intro > .container > .row{display:block;}	

section#fundamentals span.large,
section#fundamentals h1 a{
font-size: 50px;
    font-family: source sans pro;
    line-height: 1.5em;}	


.hero_fields h2,
.hero_fields p{width:70%;}


.hero_fields h2{
	font-size:20px;}
.hero_fields p{
	font-size:16px;
	    margin-bottom: 10px;}
#hero a.button{
	    margin-bottom: 5px;
	padding:10px 20px;}

}	

